*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-transform:capitalize;
    outline:none;
    /* border:none; */
    border-radius: 0px;
    text-decoration:none;
    transition:all 0.2s linear;
}
.btn{
    display:inline-block;
    margin-top:1rem;
    background:orange;
    color:bisque;
    padding:2px 2px;
    border:0.5px solid orange;
    cursor:pointer;
    font-size:15px;
}
.btn:hover{
    background:rgba(255, 165, 0, 2);
    color:orange;
}
header{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background:skyblue;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2rem 9%;
    word-spacing: 10px;
}
header .logo{
    font-size:25px;
    font-weight:bolder;
    color:beige;
    text-transform:uppercase;
}
header .logo span{
    color:orange;
}
header .navbar a{
    color:azure;
    font-size:20px;
    margin:0.8rem;
}
header .navbar a:hover{
    color:orange;
    text-decoration:underline;
    transition:0.5s;
}
.book{
    padding-top:100px;
}
.book .heading{
    text-align:center;
    margin-bottom:50px;
}
.book .heading span{
    font-size:3.5rem;
    background:rgba(255, 265,0, .3);
    color:orange;
    border-radius:.5rem;
    padding:.5rem;
    display:inline-block;
}
.book .heading span .space{
    background:none;
}

.book .row{
    display:flex;
    align-items:center;
}
.book .row .image{
    width:50%;
    margin-left:20px;
    margin-right:50px;
}
.book .row .inputbox{
    /* height:500px; */
}
.book .row .inputbox input{
    width:570px;
    height:40px;
    margin-bottom:15px;
    font-size:15px;
    border:rgba(0, 0, 0, .1);
    font-weight:bold;
    box-shadow:0px 0px 5px black;
    /* text-transform:none; */
}
.book .row .inputbox input:focus{
     border-color:orange;
}
.book .row button{
    height:50px;
    width:140px;
    color:black;
    font-size:15px;
    font-weight:bold;
    background-color:orange;
    cursor:pointer;
}
.book .row button:hover{
    background:rgba(255, 265,0, .5);
}
.book .row .inputbox input:hover{
    box-shadow:0px 0px 5px orange;
}
.footer{
    background:#333;
}
.footer .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
}
.footer .box-container .box h3{
    font-size:2.5rem;
    padding:.7rem 0;
    color:#fff;
    margin-left:30px;
}
.footer .box-container .box h3:hover{
    color:red;
}
.footer .box-container .box p{
    font-size:1.5rem;
    padding:.7rem 0;
    color:#eee;
    margin-left:30px;
    text-align:justify;
}
.footer .box-container .box a{
    display:block;
    font-size:1.5rem;
    padding:.7rem 0;
    color:#eee;
    margin-left:30px;
}
.footer .box-container .box a:hover{
    color:orange;
    text-decoration:underline;
}
.footer .credit{
    text-align:center;
    padding:2rem 1rem;
    margin-top:1rem;
    font-size:2rem;
    font-weight:normal;
    color:#fff;
    border-top:.1rem solid rgba(255, 165, 0, .2);
}
.footer .credit span{
    color:orange;
}


