*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-transform:capitalize;
    outline:none;
    /* border:none; */
    border-radius: 0px;
    text-decoration:none;
    transition:all 0.2s linear;
}
.btn{
    display:inline-block;
    margin-top:1rem;
    background:orange;
    color:bisque;
    padding:2px 2px;
    border:0.5px solid orange;
    cursor:pointer;
    font-size:15px;
}
.btn:hover{
    background:rgba(255, 165, 0, 2);
    color:orange;
}
header{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background:skyblue;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2rem 9%;
    word-spacing: 10px;
}
header .logo{
    font-size:25px;
    font-weight:bolder;
    color:beige;
    text-transform:uppercase;
}
header .logo span{
    color:orange;
}
header .navbar a{
    color:azure;
    font-size:20px;
    margin:0.8rem;
}
header .navbar a:hover{
    color:orange;
    text-decoration:underline;
    transition:0.5s;
}
.gallery{
    padding-top:150px;
}
.gallery .heading{
    text-align:center;
    margin-bottom:50px;
}
.gallery .heading span{
    font-size:3.5rem;
    background:rgba(255, 265,0, .3);
    color:orange;
    border-radius:.5rem;
    padding:.5rem;
    display:inline-block;
}
.gallery .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.gallery .box-container .box{
    overflow:hidden;
    box-shadow:0 1rem 2rem rgba(0, 0, 0, .5);
    border:1rem solid white;
    border-radius:.5rem;
    flex:1 1 30rem;
    height:25rem;
    position:relative;
}
.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit:cover;
}
.gallery .box-container .box .content{
    position:absolute;
    top:0;
    left:100%;
    height:100%;
    width:100%;
    text-align:center;
    background:rgba(0, 0, 0, .7);
    padding:2rem;
    padding-top:5rem;
}
.gallery .box-container .box:hover .content{
    left:0;
}
.gallery .box-container .box .content h3{
    font-size:2.5rem;
    color:orange;
}
.gallery .box-container .box .content p{
    font-size:1.5rem;
    color:#eee;
    padding:2rem 0;
    text-align:justify;
}
.gallery .box-container .box .content .btn{
    height:30px;
    width:150px;
    text-align:center;
    font-weight:bold;
    border-radius:5px;
}
.gallery .box-container .box1 .content .btn:hover{
    background:rgba(255, 165, 0, .2);
}
.footer{
    background:#333;
}
.footer .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.footer .box-container .box1{
    padding:1rem 0;
    flex:1 1 25rem;
}
.footer .box-container .box1 h3{
    font-size:2.5rem;
    padding:.7rem 0;
    color:#fff;
    margin-left:30px;
}
.footer .box-container .box1 h3:hover{
    color:red;
}
.footer .box-container .box1 p{
    font-size:1.5rem;
    padding:.7rem 0;
    color:#eee;
    text-align: justify;
    margin-left:30px;
}
.footer .box-container .box1 a{
    display:block;
    font-size:1.5rem;
    padding:.7rem 0;
    color:#eee;
    margin-left:30px;
}
.footer .box-container .box1 a:hover{
    color:orange;
    text-decoration:underline;
}
.footer .credit{
    text-align:center;
    padding:2rem 1rem;
    margin-top:1rem;
    font-size:2rem;
    font-weight:normal;
    color:#fff;
    border-top:.1rem solid rgba(255, 165, 0, .2);
}
.footer .credit span{
    color:orange;
}

